.culture {
  padding: 40px 0 0;
}

.culture__inner {
  border-bottom: 1px solid #A0A0A0;
  padding-bottom: 40px;
}

.culture__list {
  @include lsr;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include max($md) {
    grid-template-columns: repeat(1, 100%);
  }
}

.culture__item {
  font-size: 14px;
  color: #000000;
}
