- const cultureData = getData('culture')

+b.culture
  .container
    +e.inner
      +b.H2.title Культура
      +e.UL.list
        each item in cultureData
          +e.LI.item
            +card(item.img, item.alt, item.title, item.text, item.path)
