- const news = getData('news')

+b.SECTION.news
  .container
    +e.inner
      h1.title= mainTitle
      +e.UL.list
        each item in news
          +e.item
            +card(item.img, item.alt, item.title, item.text, item.path)
