.news {
  padding: 30px 0;
}

.news__inner {
  max-width: 700px;
  margin: 0 auto;
}

.news__title {
  font-weight: 800;
  font-size: 24px;
  margin: 0 0 5px 0;
}

.news__subtitle {
  font-weight: 600;
  font-size: 20px;
}

.news__date {
  margin: 0 0 10px 0;
  font-size: 14px;
}

.news__img {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  margin-bottom: 20px;

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.news__text {
  font-size: 14px;
}
