.news {
  padding: 40px 0;
}

.news__list {
  @include lsr;
  display: grid;
  grid-template-columns: 1fr;

  @include max($lg) {
    grid-template-columns: 1fr 1fr;
  }

  @include max($md) {
    grid-template-columns: 1fr;
  }
}

.news__item {
  & .card {
    display: flex;
    flex-direction: row;

    @include max($lg) {
      flex-direction: column;
    }
  }

  & .card__img {
    flex: 1 0 30%;
    margin-right: 15px;
    padding-bottom: 17%;
    margin-bottom: 0;

    @include max($lg) {
      margin-bottom: 15px;
      padding-bottom: 40%;
    }
  }

  & .card__wrap {
    flex: 0 1 auto;
  }
}
