.burger {
  position: relative;
  display: none;
  width: 40px;
  height: 42px;
  background-color: transparent;
  border: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 5px;
  z-index: 6;
  cursor: pointer;
  margin-left: 5px;

  &--open {
    & .burger__line:first-child {
      transform: rotate(45deg);
      top: 0;
      bottom: 0;
    }

    & .burger__line:nth-child(2) {
      display: none;
    }

    & .burger__line:last-child {
      transform: rotate(-45deg);
      top: 0;
      bottom: 0;
    }
  }

  &:hover .burger__line {
    background-color: #3B69C2;
  }

  @include max(820) {
    display: flex;
  }
}

.burger__line {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: calc(100% - 10px);
  height: 2px;
  background-color: #000000;
  transition: background-color 0.3s;

  &:first-child {
    top: 10px;
    left: 0;
  }

  &:nth-child(2) {
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }

  &:last-child {
    bottom: 10px;
    left: 0;
  }

}
