+b.FOOTER.footer
  .container
    +e.inner
      +e.col--first Новостной портал Вачского района С 2020 год
      +e.col--second Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac venenatis ligula. Integer sed feugiat erat, pharetra dapibus ligula. Integer ut enim hendrerit, lobortis elit id, aliquet tortor. Mauris eu enim metus. Vivamus efficitur vel urna vitae accumsan. Integer laoreet malesuada ipsum, at aliquet tellus porta et. Morbi at enim sed sem congue hendrerit. Pellentesque eu molestie felis. Donec sit amet hendrerit sem. Quisque maximus ultricies lacus, non laoreet nisi volutpat in. Donec ut fringilla nulla, tristique ornare nunc. Duis a metus eu sapien vulputate porta.
