mixin card(img, alt, title, text, path)
  +b.card
    if img
      +e.img
        img(src="img/" + img, alt=alt)
    if title
      +e.H3.title= title
    +e.P.text= text
    if path
      +e.A(href=path).link Далее...
