extends ../layout/layout
include ../../blocks/card/card

block variables
  - const pageTitle = 'О сайте';

block content
  include ../../blocks/header/header
  .main
  include ../../blocks/footer/footer
