extends ../layout/layout
include ../../blocks/card/card

block variables
  - const pageTitle = 'Культура';
  - const mainTitle = 'Культура';

block content
  include ../../blocks/header/header
  .main
    include ../../blocks/news/news
  include ../../blocks/footer/footer
