extends ../layout/layout
include ../../blocks/card/card

block variables
  - const pageTitle = '效小';
  - const mainTitle = '效小';

block content
  include ../../blocks/header/header
  .main
    include ../../blocks/news/news
  include ../../blocks/footer/footer
