.district {
  padding: 40px 0 0;
}

.district__inner {
  border-bottom: 1px solid #A0A0A0;
  padding-bottom: 40px;
}

.district__list {
  @include lsr;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 35px 50px;

  @include max($md) {
    grid-template-columns: repeat(1, 100%);
  }
}

.district__item {
  font-size: 14px;
  color: #000000;

  &:nth-child(3n - 1) {
    grid-row: auto /span 2;

    @include max(768) {
      grid-row: auto / auto;
      order: -1;
    }

    & .card__img {
      padding-bottom: 48%;
    }
  }
}
