.district {
  padding: 40px 0 0;
}

.district__inner {
  border-bottom: 1px solid #A0A0A0;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.district__col {
  width: 50%;

  @include max($md) {
    width: 100%;
  }
}

.district__item {
  font-size: 14px;
  color: #000000;

  & .card__img {
    padding-bottom: 41%;
  }
}
