.header {
  padding: 40px 0 0;
}

.header__inner {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #A0A0A0;
}

.header__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header__logo {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 24px;
  color: #000000;

  @include max(450) {
    font-size: 16px;
  }

  & img {
    margin-right: 11px;
    display: block;
    width: 36px;

    @include max(450) {
      width: 20px;
      margin-right: 6px;
    }
  }
}

.header__controls {
  display: flex;
  align-items: center;
}

.header__search {
  background-color: transparent;
  border: none;
  padding-top: 6px;
  cursor: pointer;

  & svg {
    fill: transparent;
    stroke: #000000;
    transition: stroke 0.3s;

    &:hover {
      stroke: #3B69C2;
    }
  }
}


