+b.HEADER.header
  .container
    +e.inner
      +e.top
        +e.logo
          img(src="img/logo.svg" alt="Новостной портал Вачского района")
          span Новостной портал <br> Вачского района/
        +e.controls
          +e.BUTTON.search
            +icon('search')(width="24", height="24")
          include ../../components/burger/burger
      +e.bottom
        include ../../components/nav/nav
