.nav {
  @include max(820) {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.38);
    z-index: 5;
    transition: transform 0.6s;

    & .nav__list {
      flex-direction: column;
      padding: 100px 30px;
    }

    & .nav__item {
      font-weight: 600;
      font-size: 24px;
    }

    &--open {
      transform: translateY(0);
    }
  }
}

.nav__list {
  @include lsr;
  display: flex;
  padding: 0 35px;
}

.nav__item {
  position: relative;
  padding: 10px 15px;
  font-size: 14px;
  color: #1B1B1B;

  &--active {
    color: #3B69C2;
  }

  &--dropdown {
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #3B69C2;
      text-decoration: underline;

      & .nav__dropdown-list {
        display: block;
      }
    }

    & .nav__dropdown-list {
      @include lsr;
      width: 100%;
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      padding: 10px;
      border: 1px solid #A0A0A0;
      background-color: #fff;
      z-index: 6;
    }

    & .nav__dropdown-link {
      display: block;
      padding: 5px;
      color: #1B1B1B;
      transition: color 0.3s;

      &:hover {
        color: #3B69C2;
        text-decoration: underline;
      }
    }
  }
}

.nav__link {
  color: currentColor;

  &:hover {
    color: #3B69C2;
    text-decoration: underline;
  }
}
