- const attentionData = getData('attention')

+b.attention
  .container
    +e.inner
      +b.H2.title Предупреждения
      +e.UL.list
        each item in attentionData
          +e.LI.item
            +card('', '', '', item.text, '')
