@include font("Montserrat", MontserratRegular, 400);
@include font("Montserrat", MontserratMedium, 500);
@include font("Montserrat", MontserratSemiBold, 600);
@include font("Montserrat", montserratbold, 700);
@include font("Montserrat", MontserratExtraBold, 800);
@include font("Montserrat", montserratblack, 900);

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.body-lock {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;

  @include max($xl) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include max($md) {
    padding-left: 15px;
    padding-right: 15px;
  }
}



.title {
  position: relative;
  font-size: 36px;
  line-height: 57px;
  color: #000000;
  margin: 0 0 25px 0;
  padding-left: 28px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 100%;
    background: #3B69C2;
  }

  @include max($md) {
    font-size: 24px;
    line-height: 40px;
    padding-left: 20px;
  }
}
